
/*commons*/

*, *:focus,.btn,.btn:focus{
	outline: 0!important;
	text-decoration: none;
}
a, button, input{
	outline: 0;
	border: 0;
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
a, a:hover, a:focus, button:hover, button:focus{
	text-decoration: none;
	outline: 0;
}
 
body {
    background: #fff;
    color: #000;
    font-size: 22px;
    line-height: 1.2;
    font-family: 'Montserrat-Regular';
    background: url(assets/images/hh-page-body-bg.jpg);
}
img{
	max-width: 100%;
	height: auto;
}
.ulc{
	margin: 0;
	padding: 0;
	list-style: none;
}
.overlay-link{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.container{
	max-width: 1200px;
	width: 100%;
}
p{
	margin-bottom: 26px;
}
.plr-30{
	padding-left: 30px;
	padding-right: 30px;
}
.hh-page-bdy-controller{
	max-width: 1170px;
	margin: 0 auto;
	background: #ffffff;
}
.hh-page-bdy-controller{
	-webkit-box-shadow: 0px 5px 12px 0px rgba(180,179,179,1);
	-moz-box-shadow: 0px 5px 12px 0px rgba(180,179,179,1);
	box-shadow: 0px 5px 12px 0px rgba(180,179,179,1);
}
/*typo*/
h1{
	font-size: 55px
}
h2{
	font-size: 36px
}

h3{
	font-size: 24px
}



/* Header */
.header {
	background: #fff;
	padding: 12px 0;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
	-ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.header .hdr-logo{
	display: inline-block;
	vertical-align: baseline;
	max-width: 185px;
}
.header .secure-img{
	display: inline-block;
	vertical-align: baseline;
	float: right;
	max-width: 225px;
}
.header img{
	width:100%;
}


.hh-shipping-progress-bar{
}
.shipping-progress-bar-con {
    background: #fff;
    padding: 115px 0 40px;
}








.special-offer-con {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    text-align: center;
    padding: 38px 118px 55px;
    color: #fff;
}

.special-offer-con h3{
	font-family: 'Montserrat-SemiBold';
	font-size: 24px;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 50px;

}

.special-offer-con h1{
	font-family: 'calisMTbol';
	color:#ffde6b;
	margin-top: 0;
	margin-bottom: 55px;
}

.special-offer-con strong{
	font-family: 'calisMTbol';
	font-size: 36px;
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 30px;
}
.special-offer-con span{
	font-family: 'Montserrat-Medium';
	font-size: 24px;
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 10px;
}

.hh-conversation-sec{
	padding: 50px 0 33px 20px;

}
.conversation-main{
	padding-right: 630px;
	position: relative;
}
.conversation-dsc{
	padding-bottom: 25px;
}

.conversation-dsc p{
	margin-bottom: 20px;
}
.conversation-img {
    position: absolute;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 46%;
    z-index: 2;
}
.inflammation-head{
	text-align: center;
	padding-bottom: 30px;
}
.inflammation-head h2{
	font-family: 'calisMTbol';
	margin-top: 0;
}
.inflammation-dsc li,
.health-risks-dsc li{
	margin-bottom: 20px;
}




.hh-health-risks-sec .health-risks-head{
	background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    padding: 10px 0 10px;
    text-align: center;
    color: #fff;
    font-family: 'calisMTbol';
    background: #87300f !important
}
.hh-health-risks-sec .health-risks-head h2{
	font-family: 'calisMTbol';
	margin-top: 0;
}
.health-risks-dsc{
	padding-top: 35px;
}










