/*
--------------------------
hh-content-sec-7-wrp
--------------------------
*/
.hh-content-sec-7-wrp{ 
	padding-top: 50px;
	padding-bottom: 40px;
}
.hh-line-headding {
    text-align: center;
    padding-bottom: 20px;
    max-width: 700px;
    margin: 0 auto;
}
.hh-line-headding h2{
	margin: 0;
	line-height: 44px;
	font-family: 'calisMTbol';
	margin-bottom: 15px;
}
.hh-line-headding span{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 15px;
	padding-right: 15px;
}
.hh-two-grid-rgt-dsc strong {
    display: inline-block;
    vertical-align: baseline;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    font-family: 'Montserrat-SemiBold';
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 20px;
}
.hh-two-grid-rgt-dsc p{
	padding-left: 15px;
}
/*
----------------------
hh-content-sec-8-wrp
----------------------
*/
.hh-content-sec-8-wrp{
	padding-top: 50px;
	position: relative;
}
.hh-content-sec-8-wrp span:first-of-type {
    position: absolute;
    right: 0;
    top: -150px;
}
.hh-content-sec-8-wrp span:last-of-type {
    position: absolute;
    left: 0;
    bottom: -155px;
    z-index: 1;
}
.hh-title-headding h2{
	margin: 0;
	text-align: center;
	line-height: 42px;
	font-family: 'Montserrat-SemiBold';
	text-transform: capitalize;
	margin-bottom: 25px;
	color: #27002f;
}
.hh-flt-rgt-img{
	float: right !important;
}
.hh-two-grid-rgt-img{
	padding-right: 50px;
}
.hh-two-grid-rgt-img img{
	width: 100%;
}
.message-box{
	margin-top: 50px;
	margin-bottom: 30px;
}
.message-box h2{
	margin: 0;
	color: #fff;
	text-align: center;
	font-family: 'calisMTbol';
	padding:15px 100px;
}
.hh-content-sec-8-wrp .hh-two-grid-lft-img img{
	min-height: 445px;
}
.hh-content-sec-8-wrp .hh-two-grid-rgt-dsc p span{}

/*
---------------------
hh-content-sec-9-wrp
---------------------
*/
.hh-content-sec-9-wrp{
	padding-top: 40px;
	padding-bottom: 50px;
}
.hh-fluid-img{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}
.hh-content-sec-9-wrp .hh-two-grid-rgt-img{
	padding-right: 0;
	margin-top: -10px;
}
.hh-content-sec-9-wrp .hh-two-grid-rgt-img img{
	height:720px; 
}
.hh-content-sec-9-wrp .hh-two-grid-rgt-dsc p span{
	display: inline-block;
	vertical-align: baseline;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 15px;
	padding: 5px 10px 7px 15px;
	margin-left: -15px;
}
.mrg-lft{
	margin-left: -15px;
}
.hh-content-sec-9-wrp .hh-two-grid-lft-img img{
	height: 530px;
}

@media(max-width: 1600px){
	
}

@media(max-width: 1399px){
	
}

@media(max-width: 1199px){
	

	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.hh-two-grid-rgt-dsc strong br{
		display: none;
	}
	.hh-two-grid-rgt-dsc strong{
		font-size: 20px;
		line-height: 24px;
	}
	.hh-two-grid-rgt-dsc p {
	    font-size: 20px;
	    line-height: 22px;
	}
	.hh-content-sec-7-wrp .hh-two-grid-rgt-dsc p:last-of-type{
		margin-bottom: 0;
	}
	.hh-content-sec-7-wrp .hh-two-grid-rgt-dsc{
		position: relative;
		z-index: 2;
	}
	.hh-title-headding h2 br,
	.hh-line-headding h2 br{
		display: none;
	}
	.message-box h2 {
	    padding: 15px 20px;
	}
	.hh-line-headding {
	    max-width: 600px;
	}
	.hh-title-headding {
	    max-width: 600px;
	    margin: 0 auto;
	}
	.hh-content-sec-8-wrp span:first-of-type{
		top: -154px;
	}
	

}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	/*typo*/
	h1{
		font-size: 45px
	}
	h2{
		font-size: 31px
	}

	h3{
		font-size: 24px
	}
	.hh-two-grid-rgt-dsc p {
	    font-size: 18px;
	    line-height: 20px;
	    margin-bottom: 15px;
	}
	.hh-two-grid-rgt-dsc strong {
	    font-size: 18px;
	    line-height: 22px;
	}
	.hh-two-grid-rgt-img{
		padding-bottom: 20px;
	}
	.hh-content-sec-9-wrp .hh-two-grid-rgt-img img {
	    height: auto;
	}
	.hh-content-sec-9-wrp .hh-two-grid-lft-img img {
	    height: auto;
	}
	.hh-title-headding h2,
	.hh-line-headding h2{
		line-height: 35px;
	}
	
}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.hh-two-grid-lft-img{
		padding-bottom: 30px;
		text-align: center;
	}
	.hh-two-grid-rgt-dsc p {
	    font-size: 16px;
	    line-height: 18px;
	    margin-bottom: 15px;
	    padding-left: 0;
	}
	.hh-two-grid-rgt-dsc strong {
	    font-size: 16px;
	    line-height: 20px;
	    padding-left: 0;
	}
	.hh-flt-rgt-img {
	    float: none !important;
	    text-align: center;
	}
	.hh-two-grid-rgt-img {
	    padding-right: 0;
	}
	.mrg-lft {
	    margin-left: 0;
	}
	.hh-two-grid-rgt-dsc{
		position: relative;
		z-index: 2;
	}
	.hh-content-sec-8-wrp .hh-two-grid-lft-img img {
	    min-height: auto;
	}
	.hh-content-sec-8-wrp span:first-of-type,
	.hh-content-sec-8-wrp span:last-of-type {
	    z-index: 0;
	}
	.hh-content-sec-9-wrp .hh-two-grid-rgt-img img {
	    height: auto;
	}
	.hh-content-sec-9-wrp .hh-two-grid-rgt-img {
	    margin-top: 0;
	}
	.message-box {
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.hh-content-sec-9-wrp .hh-two-grid-lft-img img {
	    height: auto;
	}
	.hh-content-sec-9-wrp {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.hh-line-headding {
	    max-width: 500px;
	}
	.hh-title-headding {
	    max-width: 500px;
	}
	.hh-title-headding h2,
	.hh-line-headding h2{
		line-height: 30px;
	}
	.message-box h2 {
	    padding: 15px 10px;
	}
	
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	/*typo*/
	h1{
		font-size: 40px
	}
	h2{
		font-size: 28px
	}

	h3{
		font-size: 22px
	}

}


@media(max-width: 479px){
	/*typo*/
	h1{
		font-size: 37px
	}
	h2{
		font-size: 26px
	}

	h3{
		font-size: 20px
	}

}



@media(max-width: 359px){

}